@namespace RH.Apps.Web.SPA.Shared.Components.Layouts

@inherits LayoutComponentBase

@inject IConfiguration Configuration
@inject IJSRuntime JS
@inject IRuntimeService RuntimeService

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<div class="main">
		<div class="top-row px-4 auth">
			@if (RuntimeService.GetRuntime() == BlazorRuntimes.WebAssembly) 
			{
				<ClientLoginDisplay></ClientLoginDisplay>
			}
			else
			{
				<ServerLoginDisplay />
			}
			<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
		</div>

		<div class="content px-4">
			@Body
		</div>
	</div>
</div>