@inject NavigationManager Navigation

@*<AuthorizeView>
    <Authorized>
        <a href="authentication/profile">Hello, @context.User.Identity.Name!</a>
        <button class="nav-link btn btn-link" @onclick="BeginSignOutAsync">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>*@

@code{
    private async Task BeginSignOutAsync(MouseEventArgs args)
    {
         await Task.CompletedTask;
        @*await SignOutManager.SetSignOutState();*@
        Navigation.NavigateTo("authentication/logout");
    }
}
