<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0009" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.CSharp.NetAnalyzers">
    <Rule Id="CA1001" Action="None" />
    <Rule Id="CA1200" Action="None" />
    <Rule Id="CA1309" Action="None" />
    <Rule Id="CA1507" Action="None" />
    <Rule Id="CA1824" Action="None" />
    <Rule Id="CA1825" Action="None" />
    <Rule Id="CA2016" Action="None" />
    <Rule Id="CA2200" Action="None" />
    <Rule Id="CA3076" Action="None" />
    <Rule Id="CA3077" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0067" Action="Warning" />
    <Rule Id="IDE0068" Action="Warning" />
    <Rule Id="IDE0069" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.NetAnalyzers">
    <Rule Id="CA1000" Action="None" />
    <Rule Id="CA1010" Action="None" />
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1018" Action="None" />
    <Rule Id="CA1036" Action="None" />
    <Rule Id="CA1041" Action="None" />
    <Rule Id="CA1050" Action="None" />
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1061" Action="None" />
    <Rule Id="CA1067" Action="None" />
    <Rule Id="CA1068" Action="None" />
    <Rule Id="CA1069" Action="None" />
    <Rule Id="CA1070" Action="None" />
    <Rule Id="CA1304" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1310" Action="None" />
    <Rule Id="CA1401" Action="None" />
    <Rule Id="CA1416" Action="None" />
    <Rule Id="CA1417" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1708" Action="None" />
    <Rule Id="CA1710" Action="None" />
    <Rule Id="CA1711" Action="None" />
    <Rule Id="CA1712" Action="None" />
    <Rule Id="CA1715" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1720" Action="None" />
    <Rule Id="CA1725" Action="None" />
    <Rule Id="CA1805" Action="None" />
    <Rule Id="CA1806" Action="None" />
    <Rule Id="CA1816" Action="None" />
    <Rule Id="CA1821" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA1826" Action="None" />
    <Rule Id="CA1827" Action="None" />
    <Rule Id="CA1828" Action="None" />
    <Rule Id="CA1829" Action="None" />
    <Rule Id="CA1830" Action="None" />
    <Rule Id="CA1831" Action="None" />
    <Rule Id="CA1832" Action="None" />
    <Rule Id="CA1833" Action="None" />
    <Rule Id="CA1834" Action="None" />
    <Rule Id="CA1835" Action="None" />
    <Rule Id="CA1836" Action="None" />
    <Rule Id="CA1837" Action="None" />
    <Rule Id="CA1838" Action="None" />
    <Rule Id="CA2009" Action="None" />
    <Rule Id="CA2011" Action="None" />
    <Rule Id="CA2012" Action="None" />
    <Rule Id="CA2013" Action="None" />
    <Rule Id="CA2014" Action="None" />
    <Rule Id="CA2015" Action="None" />
    <Rule Id="CA2101" Action="None" />
    <Rule Id="CA2201" Action="None" />
    <Rule Id="CA2208" Action="None" />
    <Rule Id="CA2211" Action="None" />
    <Rule Id="CA2215" Action="None" />
    <Rule Id="CA2219" Action="None" />
    <Rule Id="CA2229" Action="None" />
    <Rule Id="CA2231" Action="None" />
    <Rule Id="CA2241" Action="None" />
    <Rule Id="CA2242" Action="None" />
    <Rule Id="CA2244" Action="None" />
    <Rule Id="CA2245" Action="None" />
    <Rule Id="CA2246" Action="None" />
    <Rule Id="CA2247" Action="None" />
    <Rule Id="CA2248" Action="None" />
    <Rule Id="CA2249" Action="None" />
    <Rule Id="CA3061" Action="None" />
    <Rule Id="CA3075" Action="None" />
    <Rule Id="CA3147" Action="None" />
    <Rule Id="CA5350" Action="None" />
    <Rule Id="CA5351" Action="None" />
    <Rule Id="CA5359" Action="None" />
    <Rule Id="CA5360" Action="None" />
    <Rule Id="CA5363" Action="None" />
    <Rule Id="CA5364" Action="None" />
    <Rule Id="CA5365" Action="None" />
    <Rule Id="CA5366" Action="None" />
    <Rule Id="CA5368" Action="None" />
    <Rule Id="CA5369" Action="None" />
    <Rule Id="CA5370" Action="None" />
    <Rule Id="CA5371" Action="None" />
    <Rule Id="CA5372" Action="None" />
    <Rule Id="CA5373" Action="None" />
    <Rule Id="CA5374" Action="None" />
    <Rule Id="CA5379" Action="None" />
    <Rule Id="CA5384" Action="None" />
    <Rule Id="CA5385" Action="None" />
    <Rule Id="CA5397" Action="None" />
    <Rule Id="IL3000" Action="None" />
    <Rule Id="IL3001" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1030" Action="Warning" />
    <Rule Id="CA1036" Action="None" />
    <Rule Id="CA1040" Action="Warning" />
    <Rule Id="CA1061" Action="None" />
    <Rule Id="CA1062" Action="Warning" />
    <Rule Id="CA1063" Action="None" />
    <Rule Id="CA1068" Action="None" />
    <Rule Id="CA1501" Action="Warning" />
    <Rule Id="CA1509" Action="Warning" />
    <Rule Id="CA1712" Action="None" />
    <Rule Id="CA1724" Action="Warning" />
    <Rule Id="CA1802" Action="None" />
    <Rule Id="CA1814" Action="Warning" />
    <Rule Id="CA1815" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA2219" Action="None" />
    <Rule Id="CA2231" Action="None" />
    <Rule Id="CA2244" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.CSharp.Analyzers" RuleNamespace="Microsoft.CodeQuality.CSharp.Analyzers">
    <Rule Id="CA1003" Action="Warning" />
    <Rule Id="CA1019" Action="Warning" />
    <Rule Id="CA1507" Action="None" />
    <Rule Id="CA1821" Action="None" />
    <Rule Id="CA2234" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA2101" Action="None" />
    <Rule Id="CA2229" Action="None" />
    <Rule Id="CA2237" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.CSharp.Analyzers" RuleNamespace="Microsoft.NetCore.CSharp.Analyzers">
    <Rule Id="CA1825" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetFramework.Analyzers" RuleNamespace="Microsoft.NetFramework.Analyzers">
    <Rule Id="CA3147" Action="None" />
  </Rules>
  <Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp.Analyzers">
    <Rule Id="RCS1007" Action="Warning" />
    <Rule Id="RCS1010" Action="Warning" />
    <Rule Id="RCS1016" Action="Warning" />
    <Rule Id="RCS1019" Action="Warning" />
    <Rule Id="RCS1035" Action="Warning" />
    <Rule Id="RCS1046" Action="Warning" />
    <Rule Id="RCS1052" Action="Warning" />
    <Rule Id="RCS1060" Action="Warning" />
    <Rule Id="RCS1064" Action="Warning" />
    <Rule Id="RCS1065" Action="Warning" />
    <Rule Id="RCS1078i" Action="Warning" />
    <Rule Id="RCS1090i" Action="Warning" />
    <Rule Id="RCS1101" Action="Warning" />
    <Rule Id="RCS1111" Action="Warning" />
    <Rule Id="RCS1126" Action="Warning" />
    <Rule Id="RCS1174" Action="Warning" />
    <Rule Id="RCS1176" Action="Warning" />
    <Rule Id="RCS1177" Action="Warning" />
    <Rule Id="RCS1198" Action="Warning" />
    <Rule Id="RCS1207i" Action="Warning" />
    <Rule Id="RCS1248" Action="Warning" />
    <Rule Id="RCS1248a" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Roslynator.Formatting.Analyzers" RuleNamespace="Roslynator.Formatting.Analyzers">
    <Rule Id="RCS0002" Action="Warning" />
    <Rule Id="RCS0003" Action="Warning" />
    <Rule Id="RCS0005" Action="Warning" />
    <Rule Id="RCS0007" Action="Warning" />
    <Rule Id="RCS0011" Action="Warning" />
    <Rule Id="RCS0029" Action="Warning" />
    <Rule Id="RCS0031" Action="Warning" />
    <Rule Id="RCS0032" Action="Warning" />
    <Rule Id="RCS0044" Action="Warning" />
    <Rule Id="RCS0051" Action="Warning" />
    <Rule Id="RCS0055" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="SecurityCodeScan" RuleNamespace="SecurityCodeScan">
    <Rule Id="SCS0005" Action="None" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S1481" Action="None" />
  </Rules>
</RuleSet>