@page "/fetchdata"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using RH.Apps.Web.SPA.Shared
@*@attribute [Authorize]*@

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts = new WeatherForecast[0];

    protected override void OnInitialized()
    {
        try
        {
            //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
